@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Navagation
        - Hero
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */ 
*,
*:after,
*:before {
       
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        font: 1rem 'EB Garamond', serif;
        line-height: 2em;
        text-align: center;
        color: #00515D;
}

@media screen and (min-width: 768px) {
       
}

@media screen and (min-width: 1024px) {
        
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

h1,
h2,
a {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
}

h1,
p b {
        font-size: 2.3rem;
        line-height: 3.5rem;    
}

h1,
a,
main p a {
        color: #fff;
}

h2,
blockquote footer p,
blockquote p b,
span a:hover {
        color: #BDBDBD;  
}

blockquote > p:nth-child(2),
blockquote {
        margin: 0;
}

blockquote,
blockquote > p:first-child {
        text-align: center;
}



/* ----- TYPOGRAPHY ----- */ 


h2 {
        font-size: 1rem;
        margin-bottom: 0;
}

p i {
        font-size: 2.75rem;       
}

span {
        color: #fff;
        font-size: 0.75rem;
}

blockquote {
        border-top: 2px #BDBDBD solid;
        border-bottom: 2px #BDBDBD solid; 
        width: 100%; 
        margin: 3em 0;
        padding: 3em;
}

blockquote p b {
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        position: absolute;
        top: -55px;   /* ----- it wont let me put left:0 without it shifting :(----- */         
}

blockquote > p:first-child {
        position: relative;
        top: 0;
        left: 0;
}

img {
        text-align: left;
}

a {
        text-decoration: none;
}

header + p {
        margin-top: 0;
}

main p a {
        background-color:#4e9374;
        padding: 0.75em;
        border-radius: 8em;
        
}

main p a:hover {
        background-color: #1d6d49;
}

main > p:first-child {
        font-size: 1.5rem;
}


@media screen and (min-width: 768px) {


        
}

@media screen and (min-width: 1024px) {

        h1, 
        p b {
                font-size: 4.5rem;
                line-height: 5.5rem; }
        
       
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 95%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}

.img-responsive {
        max-width: 100%;
}

[class*='col-'] {
        padding: 10px 5px;  /* ----- Gutter ----- */
}

.col-sm-1 {
        width: calc(100% * 1 / 12);
}

.col-sm-2 {
        width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
}

.col-sm-3 {
        width: calc(100% * 3 / 12); /* ----- 4 times ----- */
}

.col-sm-4 {
        width: calc(100% * 4 / 12);
}

.col-sm-5 {
        width: calc(100% * 5 / 12);
}

.col-sm-6 {
        width: calc(100% * 6 / 12);
}

.col-sm-7 {
        width: calc(100% * 7 / 12);
}

.col-sm-8 {
        width: calc(100% * 8 / 12);
}

.col-sm-9 {
        width: calc(100% * 9 / 12);
}

.col-sm-10 {
        width: calc(100% * 10 / 12);
}

.col-sm-11 {
        width: calc(100% * 11 / 12);
}

.col-sm-12 {
        width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {
        .wrapper {
                width: 80%;
        }

        [class*='col-'] {
                padding: 10px;
        }

        .col-md-1 {
                width: calc(100% * 1 / 12);
        }
        
        .col-md-2 {
                width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
        }
        
        .col-md-3 {
                width: calc(100% * 3 / 12); /* ----- 4 times ----- */
        }
        
        .col-md-4 {
                width: calc(100% * 4 / 12);
        }
        
        .col-md-5 {
                width: calc(100% * 5 / 12);
        }
        
        .col-md-6 {
                width: calc(100% * 6 / 12);
        }
        
        .col-md-7 {
                width: calc(100% * 7 / 12);
        }
        
        .col-md-8 {
                width: calc(100% * 8 / 12);
        }
        
        .col-md-9 {
                width: calc(100% * 9 / 12);
        }
        
        .col-md-10 {
                width: calc(100% * 10 / 12);
        }
        
        .col-md-11 {
                width: calc(100% * 11 / 12);
        }
        
        .col-md-12 {
                width: calc(100% * 12 / 12);
        }
}

@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }

        .col-lg-1 {
                width: calc(100% * 1 / 12);
        }
        
        .col-lg-2 {
                width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
        }
        
        .col-lg-3 {
                width: calc(100% * 3 / 12); /* ----- 4 times ----- */
        }
        
        .col-lg-4 {
                width: calc(100% * 4 / 12);
        }
        
        .col-lg-5 {
                width: calc(100% * 5 / 12);
        }
        
        .col-lg-6 {
                width: calc(100% * 6 / 12);
        }
        
        .col-lg-7 {
                width: calc(100% * 7 / 12);
        }
        
        .col-lg-8 {
                width: calc(100% * 8 / 12);
        }
        
        .col-lg-9 {
                width: calc(100% * 9 / 12);
        }
        
        .col-lg-10 {
                width: calc(100% * 10 / 12);
        }
        
        .col-lg-11 {
                width: calc(100% * 11 / 12);
        }
        
        .col-lg-12 {
                width: calc(100% * 12 / 12);
        }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#about div:last-child > p,
#take-action div:first-child p {
        font-size: 1.5rem;
} 

#mission,
#achievements {
        margin-top: 3em;
}

#about nav,
#about div:last-child > p,
#take-action div:last-child  {
        margin-top: 2.5em;
}

header li,
footer li {
        display: inline-block;
        margin-right: 1.25em;
}

#about nav li:first-child,
header nav ul {
        text-align: center;
}

#about h2,
#about li,
#mission {
        text-align: left;
}

#about nav li:first-child,
header nav li:last-child a {
        color: #1d6d49;
}

#home div:first-child,
#home p:first-child,
#hero-home h1 {
        margin: 0;
}

#home > div:last-child,
#home {
        margin-top: 2.5em;
}

header b,
footer {
        font-family: 'Montserrat', sans-serif;
}

#about a {
        color: #BDBDBD;
}

#hero-home p:last-child a {
        background-color:#4e9374;
        padding: 0.75em;
        border-radius: 8em;
}

#hero-home p:last-child a:hover {
        background-color: #1d6d49;
}

#hero-home p {
        color: #fff;
}

#home {
        margin-bottom: 2.5em;
}

#home section:first-child > div {
        background: url(../img/bg-grass-mountains.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;  
        padding: 8em;
}

#home section:last-child > div {
        background: url(../img/bg-tall-trees.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;  
        padding: 8em;
}


#achievements li::before {
        background: url(../img/bullet-tree.jpg) no-repeat;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;  
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        left: -20px;
}

#achievements li {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 1em;
}

#achievements div:last-child {
        margin-left: 1rem;
}

/* ----- NAVAGATION ----- */
header nav li:last-child a {
        background-color: #fff;
        padding: 0.5em;
        border-radius: 8em;

}

main nav li {
        display: inline-block;
}

main nav li:first-child {
        display: block;
}

li {
        list-style-type: none;
}

ul {
        padding-left: 0;
}


/* ----- HERO ----- */

header p b {
        text-transform: uppercase;
} 

#hero-home {
        background: url(../img/bg-snow-mountains.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;  
        padding-bottom: 10em; 
}

#hero-about {
        background: url(../img/bg-grass-mountains.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;  
        padding-bottom: 10em; 
}

#hero-take-action {
        background: url(../img/bg-tall-trees.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;  
        padding-bottom: 10em; 
}


/* ----- FOOTER ----- */

body > footer {
        background-color: #1d6d49; 
        padding-bottom: 0.75em;
        margin-top: 2.5em;
}

footer > div:first-child {
        background-color: #4e9374;
        margin-bottom: 2em;
}        



@media screen and (min-width: 768px) {     /* ----- MEDIUM ----- */

        
}

@media screen and (min-width: 1024px) {     /* ----- LARGE ----- */
        #what-we-do .intro-paragraph, 
        #about nav ul,
        #about li:first-child,
        #about nav li:first-child  {
                text-align: left;
        }

        a,
        header nav a:hover {
                text-decoration: none;
        }

        main nav li:first-child,
        main nav li  {
                display: block;
        }

/* ----- NAVAGATION ----- */

        header nav li:last-child a {
                background-color: transparent;
                color: #fff;
                border: 1px #fff solid;
                padding: 0.5em;
                border-radius: 8em;
        }
        
        header nav li:last-child a:hover {
                background-color: #fff;
                color: #4e9374;
        }
        
        address a:hover {
                border-bottom: 1px #fff solid;
                padding-bottom: 0.25em;
        }
        
        a {
                font-size: 0.75rem;
        }

        header nav ul {
                text-align: right;
        }
}


/*--------------------------------------------------------------
    7.0 - UTILIY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */
.sr-only {
        position: absolute;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        border: 0 !important;
}

.col-center {
        justify-content: center;
}

.intro-paragraph {
        text-align: center;
}


